/* Styling */

body {
  font-family: arial, sans-serif;
  background-color: white;
}

/* navigation bar*/

.nav-f-container {
  display: flex;
  flex-direction: space-between;
  padding: 10px;
  /*align-items: center;*/
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;

  border: 2px solid red;
}

.nav-f-container a {
  color: inherit;
  text-decoration: none;
}

.nav-f-child-1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 2px solid red;
}

.nav-f-child-2 {
  flex-grow: 1;
  padding-right: 15px;
  border: 2px solid red;
}

/*Formatting the links*/

.nav-bar-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.nav-bar-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-f-container li {
  display: inline-block; /*organizes horizontally beside each element*/
  padding: 5px; /*spacing top and bottom*/
  margin: 0;
  color: #222222;
  font-size: 14px;
}

.nav-f-container li:hover {
  text-decoration: underline;
}

/*Grid Box Container*/
.grid-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 2fr 1fr 1fr 1fr;
  gap: 20px; /*spacing between rows*/
  margin: auto; /*centers google container*/
  margin-top: 150px; /*nav bar spacing*/
  width: 700px; /*all elements within*/
  padding: 10px;
  border: 2px solid green;
}

.google-logo-grid {
  grid-column: 1 / 5; /*takes up all four columns*/
  grid-row: 1;
  border: 2px solid blue;
}

.search-bar-grid {
  grid-column: 1;
  grid-row: 2;
  z-index: 2; /*so icon does not overlap bar*/
  border: 2px solid blue;
}

.search-input-grid {
  grid-column: 1 / 5;
  grid-row: 2;
  border: 2px solid blue;
}

.first-button-grid {
  grid-column: 2 / 3;
  grid-row: 3;
  border: 2px solid blue;
}

.second-button-grid {
  grid-column: 3 / 4;
  grid-row: 3;
  border: 2px solid blue;
}

.fourth-row-grid {
  grid-column: 2 / 4;
  grid-row: 4;
  border: 2px solid blue;
}

.google-logo {
  width: 300px;
  display: block; /*center logo*/
  margin-left: auto;
  margin-right: auto;
}

/*Formatting search bar*/
.search-bar-grid {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 1;
}

.search-input-grid {
  width: 80%;
  height: 2.5rem;
  padding: 0.25rem; /*spacing all around to give space for icon*/
  border: 1px solid #dfe1e5;
  border-radius: 2rem;
  display: block; /*centers search bar*/
  margin-left: auto;
  margin-right: auto;
}

.search-input-grid:hover {
  filter: drop-shadow(4px 4px 5px * dfe1ef);
}

/*Formatting Google Search and I'm Feeling Lucky in the third row*/

.first-button-grid {
  width: 150px;
  height: 40px;
  background: #f8f9fa;
  border-radius: none;
  cursor: point; /*on hover it will turn into a pointer*/
  display: block; /*position within*/
  margin-left: 20px;
}

.first-button-grid:hover {
  border: 2px solid darkgrey;
}

.first-button-grid:visited {
  /*when you click on the button*/
  border: 2px solid #4285f4;
}

.second-button-grid {
  width: 150px;
  height: 40px;
  background: #f8f9fa;
  border-radius: none;
  cursor: point; /*on hover it will turn into a pointer*/
  display: block; /*position within*/
  margin-left: 5px;
}

.second-button-grid:hover {
  border: 2px solid darkgrey;
}

.second-button-grid:visited {
  /*when you click on the button*/
  border: 2px solid #4285f4;
}

/*Google offered in French*/

.fourth-row-grid {
  text-align: center;
}

.fourth-row-grid a {
  text-decoration: none;
}

.fourth-row-grid a:hover {
  text-decoration: underline;
}
